<head>
  <link rel="stylesheets" type="text/css" href="application.scss">
</head>
<body>
  <div class="container">
    <div class="search">
      <h2>Que recherchez vous?</h2>
      <form class="flex my-2 my-lg-0">
            <input class="form-control" name="query_city" type="search" placeholder="Ville?" aria-label="Search" value="<%= params[:query_city] %>">
            <input class="form-control" name="query_guest" type="search" placeholder="Nombre de guests?" aria-label="Search" value="<%= params[:query_guest] %>">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
      <div>
        <div class="row">
          <% @flats.each do |flat| %>
            <div class="col-md-4">
              <div class="card p-3">

                <div class="flat-card-content">

                    <% if flat.photo.attached? %>
                      <%= link_to flat_path(flat) do %>
                        <%= cl_image_tag flat.photo.key, alt: "flat_picture", height: 300, width: 400, crop: :fill, class: "rounded-image"%>
                      <% end %>
                    <% else %>
                      <p>No photo available</p>
                    <% end %>

                  <p class="fs-5"><%= flat.address %>, <%= flat.city %></p>
                  <div class="d-flex justify-content-between">
                    <div class="flex align-items-center">
                      <i class="fa-solid fa-people-line"></i>
                      <span><%= flat.number_of_guests %> personne(s)</span>
                    </div>
                    <div class="flex align-items-center">
                      <i class="fa-solid fa-euro-sign"></i>
                      <span><%= flat.price_per_night %> par nuit</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>


  </div>
</body>
