<div class="container">
<h2>Bienvenue</h2>
<div class="flat-card">

  <div class="flat-card-content">

    <p><%= @flat.address %>,<%= @flat.city %></p>
    <%= cl_image_tag @flat.photo.key, alt:"flat_picture", height:300, width:400, crop: :fill if @flat.photo.attached? %>
    <p><%= @flat.description %></p>
    <div class="flex">
      <div class="flex align-items-center">
        <i class="fa-solid fa-people-line"></i>
        <span><%= @flat.number_of_guests %></span>
      </div>
      <div class="flex align-items-center ms-3">
      <i class="fa-solid fa-euro-sign"></i>
        <span><%= @flat.price_per_night %></span>
        <%= button_to 'Delete', delete_flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
</div>
