<div class="flat-card">

  <div class="flat-card-content">

    <p><%= @flat.address %>,<%= @flat.city %></p>
    <p><%= @flat.description %></p>
    <div class="flex">
      <div class="flex align-items-center">
        <i class="fa-solid fa-people-line"></i>
        <span><%= @flat.number_of_guests %></span>
      </div>
      <div class="flex align-items-center ms-3">
      <i class="fa-solid fa-euro-sign"></i>
        <span><%= @flat.price_per_night %></span>
      </div>
    </div>
  </div>
</div>
