
<div class="container">

  <h1 class="text-center">Nice to see you there !</h1>

  <div data-controller="update-total">
    <div class="form-center fs-3  w-50">
      <p>When do you want to reserve ?</p>
      <%= simple_form_for ([@flat, @booking]) do |b| %>
        <%= b.date_field :start_date, data: { update_total_target: "startDate", action: "change->update-total#refreshTotal" }%>
        <%= b.date_field :end_date, data: { update_total_target: "endDate", action: "change->update-total#refreshTotal"} %>
        <%= b.submit class:"btn btn-primary" %>
        <% end %>
    </div>
    <div class="mt-3 p-3 fs-5 bg-info w-50">
      <p>As the price per night of the chosen flat is : <span data-update-total-target="pricePerNight"><%= @flat.price_per_night %></span>€</p>
      <p>The total price of your stay will be : <span data-update-total-target="total">0</span>€</p>
    </div>
  </div>
</div>
