<div class="container text-center ">
  <h1 class= "text-success mt-5 mb-5"> Information on your reservation </h1>


  <p class= "fs-5">Thank you for your reservation from <%=@booking.start_date %> to <%= @booking.end_date %></p><br class="mb-2">
  <span>You will be welcomed <%= @booking.flat.address %>, in <%= @booking.flat.city %>.</span><br class="mb-1">

  <% duration = @booking.end_date  - @booking.start_date  %>
  You will stay <%= duration.to_i %> days
  <p>As the price per night is : <%= @booking.flat.price_per_night %>€, </p>
  <p> the total amount of your reservation is <%= duration.to_i * @booking.flat.price_per_night %>€</p>
  The status of your reservation is "<strong><%= @booking.status %>"</strong>.
  </p>
  <div class="d-flex justify-content-center mt-5 ">
    <p class= "fs-5">If you want to cancel this reservation, please click:</p>
    <% if current_user == @booking.user %>
          <%= button_to 'Cancel the reservation', flat_booking_path(@booking.flat, @booking.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-success ms-2 mt-2%'%>
    <% end %>
  </div>
</div>
