<head>
  <link rel="stylesheets" type="text/css" href="application.scss">
</head>

<body>

<div class="container">
  <h2 class= "text-success"><strong>All my bookings</strong></h2>
  <div class="booking-container">
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <%= link_to flat_booking_path(booking.flat, booking.id) do %>
          <%= cl_image_tag booking.flat.photo.key, alt: "flat_picture", height: 300, width: 400, crop: :fill, class: "rounded-image" %>
        <% end %>
        <div class="d-flex justify-content-between p-2 fs-7">
          <% owner = User.find_by(id: booking.flat.user_id) %>
            <p>City: <%= booking.flat.city %></p>
            <p>Owner: <%= owner.first_name %></p>
        </div>
            <p>From <strong><%= booking.start_date %></strong> To <strong><%= booking.end_date %></strong></p>
      </div>
    <% end %>
  </div>

  <h2 class= "text-success"><strong>All my flats</strong></h2>
 <div class="booking-container">
  <% @flats.each do |flat| %>
    <div class="booking-card">
      <%= link_to flat_path(flat) do %>
        <%= cl_image_tag flat.photo.key, alt: "flat_picture", height: 300, width: 400, crop: :fill, class: "rounded-image" %>
      <% end %>
      <div class="booking-details">
        <div class="location">
          <p class="city"><%= flat.city %></p>
          <p class="address"><%= flat.address %></p>
        </div>
        <div class="current-bookings">
          <p class="booking-title">Current bookings:</p>
          <% if flat.bookings.any? %>
            <% flat.bookings.each do |booking| %>
              <div class="booking-info">
                <p class="host">Host: <%= booking.user.first_name%> <%= booking.user.last_name%></p>
                <p class="dates">Date: <%= booking.start_date %> - <%= booking.end_date %></p>
                <p class="dates">Total: <%= booking.booking_price %> € </p>
              </div>
            <% end %>
          <% else %>
            <p class="no-bookings">No current bookings at the moment 😇</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>

</body>
